* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #202046;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-image: url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
}

.testimonials-slider {
    max-width: 375px;
    position: relative;
    text-align: center;
    top: 20px;
}

.testimonial__photo {
    padding: 14% 10% 10%;
    background-image: url("../images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-position: 30px 5px;
    background-size: 325px;
}

.testimonial__photo img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 1px 20px 50px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -15px;
}

.testimonial__review {
    background-image: url("../images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: 150px -3px;
    padding-top: 8%;
}

.testimonial__text {
    padding: 0 7% 5%;
}

.testimonial__name {
    font-weight: 700;
    font-size: 16px;
}

.testimonial__position {
    color: 	#babacf;
    font-size: 16px;
}

.testimonial__btn {
    position: absolute;
    top: 265px;
    background-color: #fff;
    padding: 2% 0;
    left: 0;
    right: 0;
    width: 90px;
    border-radius: 25px;
    margin: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.testimonial__btn--prev, .testimonial__btn--next {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: none;
    background-color: #fff;
}

.testimonial__btn--prev {
    left: -5px;
}

.testimonial__btn--next {
    right: -5px;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 35px;
}

.attribution a {  
    color: #3E52A3;
    font-weight: 500;
}

@media (min-width: 900px) {
    body {
        flex-direction: row;
    }

    .testimonials-slider {
        min-width: 800px;
    }

    .testimonial {
        grid-template-areas: "testimonial__photo testimonial__review";
        position: relative;
        grid-gap: 280px;
    }

    .testimonial__photo {
        grid-area: testimonial__photo;
        grid-column: 2;
        background-size: 525px;
        width: 600px;
        background-position: 40px 10px;
    }

    .testimonial__photo img {
        width: 400px;
    }

    .testimonial__review {
        grid-area: testimonial__review;
        grid-column: 1;
        text-align: left;
        background-position: 80px 35px;
        position: absolute;
        bottom: 190px;
    }

    .testimonial__text {
        max-width: 470px;
        font-size: 1.3rem;
        padding: 0;
    }

    .testimonial__name, .testimonial__position {
        display: inline-block;
        margin: 20px 5px 0 0;
    }

    .testimonial__btn {
        top: 433px;
        left: 150px;
    }
}