* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
}

.feature-section {
    max-width: 340px;
    margin: 50px 20px;
}

.feature-section__text {
    text-align: center;
}

.feature-section__title {
    margin-bottom: 5%;
}

.feature-section__title--light {
    font-weight: 200;
}

.feature-section__description {
    font-size: 1.1rem;
    line-height: 1.75rem;
}

.feature-section__cards {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

.card {
    height: 230px;
    background-color: #fff;
    border-radius: 10px;
    margin: 5% 0;
    padding: 7% 10%;
    box-shadow: 1px 5px 30px hsl(229, 6%, 86%);
    position: relative;
    background-repeat: no-repeat;
    background-position: 250px 150px;
    background-size: 55px;
    animation: cards-movement 2s;
}

.card--cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
    background-image: url("../images/icon-supervisor.svg");
}

.card--red {
    border-top: 5px solid hsl(0, 78%, 62%);
    background-image: url("../images/icon-team-builder.svg");
}

.card--orange {
    border-top: 5px solid hsl(34, 97%, 64%);
    background-image: url("../images/icon-karma.svg");
}

.card--blue {
    border-top: 5px solid hsl(212, 86%, 64%);
    background-image: url("../images/icon-calculator.svg");
}

.card__title {
    font-size: 1.5rem;
}

.card__description {
    margin-top: 2%;
}

.attribution { 
    font-size: 0.688rem; 
    text-align: center; 
    position: relative;
    margin-bottom: 10px;
}
    
.attribution a { 
    color: hsla(212, 86%, 64%, 0.849);
    transition: ease-in 0.3s;
}

.attribution a:hover { 
    color: hsl(212, 74%, 57%);
}

@keyframes cards-movement {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}