* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

body {
    align-items: center;
    background-image: linear-gradient(#af67e9,#6565e7);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.container {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 5px 25px 70px 5px rgba(0, 0, 0, 0.3);
    height: 480px;
    max-width: 350px;
    position: absolute;
    top: 150px;
}

.faq-card {
   background-image: url("../images/bg-pattern-mobile.svg");
   background-position: 50px -10px;
   background-repeat: no-repeat;
   border-radius: 25px;
   padding: 17% 7% 10%; 
   position: relative;
}

.img-side {
    position: relative;
}

.img-woman-box-mobile {
    position: absolute;
    top: -170px;
}

.img-email-box {
    display: none;
}

.img-woman-standing {
    display: none;
}

.faq-list {
    height: 90%;
    overflow: auto;
    padding: 20% 0 0;
}

.faq-list hr {
    border-bottom: none;
    border: #e7e7e9 solid 1px;
    margin: 5% 0;
}

.faq-title {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 7%;
    text-align: center;
}

.faq-item {
    overflow: hidden;
    position: relative;
}

.faq-question {
    color: #4a4b5e;
    cursor: pointer;
    width: 350px;
}

.emphasis {
    font-weight: 700;
}

.emphasis img {
    transform: rotate(180deg);
    transition: .2s ease-in-out;
}

.faq-question:hover {
    color: #f47c57;
}

.faq-question img {
    float: right;
    left: 290px;
    position: absolute;
}

.faq-answer {
    color: #787887;
    line-height: 1.5rem;
    padding-top: 5%;
}

.hidden {
    position: absolute;
    visibility: collapse;
}

.attribution {
    bottom: 0;
    color:#bcbcbe;
    font-size: 11px;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-align: center;
    width: 100%;
}
  
.attribution a {
    color: #e7e7e9;
}

/*** Desktop version ***/

@media (min-width: 1000px) {
    .container {
        margin: 0 15%;
        max-width: 850px;
        top: 100px;
        width: 850px;
    }

    .faq-card {
        background-image: url("../images/bg-pattern-desktop.svg");
        background-position: -575px -300px;
        background-repeat: no-repeat;
        display: grid;
        grid-gap: 70px;
        grid-template-areas: "img-side faq-list";
        grid-template-columns: 45% 45%;
        min-height: 70vh;
        overflow: hidden;
        padding: 5%;
    }

    .img-side {
        grid-area:img-side;
    }

    .img-woman-box-mobile {
        display: none;
    }
    
    .img-email-box {
        display: inline;
        left: -90px;
        position: absolute;
        top: 200px;
        z-index: 2;
    }
    
    .img-woman-standing {
        display: inline;
        left: -120px;
        position: relative;
        top: 20px;
        z-index: 1;
    }

    .faq-list {
        grid-area: faq-list;
        height: 100%;
        padding-top: 5%;
    }

    .faq-title {
        text-align: left;
    }

    .faq-question img {
        left: 320px;
    }
}